*{

    margin: 0;
    padding: 0;
    box-sizing:border-box ;

}

.navBar{


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    height: 80px;
    background-color: grey;
    color: white;
}

.Menu{

    list-style-type:none;
    display: flex;
    font: 1em ;

}

.Menu-item{

    margin-right:10px;

}

.details{

    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
}

.details-text h2{

    font-size: 5em;


}

.details-text p{
    
    font-size: 2em;



}

.details-button button{

    margin-top: 20px;
    margin-right: 20px;
    padding: 8px 8px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    font: 3rem;


        
}

.details-Image{

    border-radius: 50%;
}

.education{

    background-color: grey;
    color: White;
    padding: 3vh,6vw;

}

.education-heading{

    font-size: 2.5rem;
}

.academic{

    display: flex;
    align-items: center;
    padding: 20px 0;

}

.details-head{

    font-size: 2rem;
}

.details-desc{

    font-size: 1.5rem;
}

.academic img{

    margin-right: 20px 0;
    border-radius: 30%;

}

.academic-details{

    margin: 0px 25px;
}

.project-section{

    background-color: grey;
    color: White;
    padding: 3vh,6vw;


}

.project{

    margin-top: 50px;
    display: flex;

    justify-content:space-around;
}

.single-project{
    text-align: center;
    padding: 2vw 1vw;
    width: 20vw;
    border: 2px solid white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 white; */

}

.single-project:hover{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 white;

}

.single-project h2{

    margin-top: 10px;
}




.single-project .live{

    margin-top: 10px;
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 2% 4%;
    border-radius: 5px;
    
}